
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUsagerLabel">Créer ou modifier un usager</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.usager.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.usager.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                    ng-model="vm.usager.nom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                    ng-model="vm.usager.prenom"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                    ng-model="vm.usager.adresse"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateNaissance">Date Naissance</label>
                <div class="input-group">
                    <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" uib-datepicker-popup="{{dateformat}}" ng-model="vm.usager.dateNaissance" is-open="vm.datePickerOpenStatus.dateNaissance"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateNaissance')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telephone">Telephone</label>
            <input type="number" class="form-control" name="telephone" id="field_telephone"
                    ng-model="vm.usager.telephone"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Enregistrer</span>
        </button>
    </div>
</form>
