
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLivreLabel">Ajouter ou modifier un Livre</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.livre.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.livre.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateEdition">Date Edition</label>
                <div class="input-group">
                    <input id="field_dateEdition" type="text" class="form-control" name="dateEdition" uib-datepicker-popup="{{dateformat}}" ng-model="vm.livre.dateEdition" is-open="vm.datePickerOpenStatus.dateEdition"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEdition')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_resume">Resume</label>
            <input type="text" class="form-control" name="resume" id="field_resume"
                    ng-model="vm.livre.resume"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.livre.url"
                     />
        </div>

        <div class="form-group">
            <label for="field_oeuvre">Oeuvre</label>
            <select class="form-control" id="field_oeuvre" name="oeuvre" ng-model="vm.livre.oeuvreId" ng-options="oeuvre.id as oeuvre.id for oeuvre in vm.oeuvres | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Enregistrer</span>
        </button>
    </div>
</form>
