<link rel="stylesheet" href="content/css/hover-min.css">

<div>
    <h2>Livres</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="livre.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                            Ajouter un livre
                        </span>
                </button>
            </div>
        </div>
    </div>
    <br/>


   <!-- <div class="row" style="overflow:hidden;">
        <div class="col-sm-6 col-md-4" style="overflow:hidden; width:100%; text-align: center">
            <div class="thumbnail hvr-pulse-grow" ng-repeat="todo in filteredTodos track by livre.id"
                 style="float:left; height:250px ;display: inline-block; margin:4%; width:25%" ;
                 ui-sref="oeuvre-detail({id:livre.id})">
                <img src={{livre.url}}>
                <div class="caption">
                    <p>Titre: {{livre.titre}} </p>
                    <p>Auteurs:</p>
                    <p ng-repeat="auteur in livre.auteurs track by auteur.id">{{auteur.nom}}</p>
                </div>
            </div>
        </div>
    </div> -->
    <ul>
        <li ng-repeat="todo in filteredTodos">{{todo.text}}</li>
    </ul>
    <div class="pagination" data-pagination="" data-num-pages="numPages()"
         data-current-page="currentPage" data-max-size="maxSize"
         data-boundary-links="true"></div>


                <!--        <td><a ui-sref="livre-detail({id:livre.id})">{{livre.id}}</a></td>
                            <td>{{livre.dateEdition | date:'mediumDate'}}</td>
                        <td>{{livre.resume}}</td>
                        {{livre.url}}</td>

                            <a ui-sref="oeuvre-detail({id:livre.oeuvreId})">{{livre.oeuvreId}}</a>



                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        ui-sref="livre-detail({id:livre.id})"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span class="hidden-xs hidden-sm"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="livre.edit({id:livre.id})"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-xs hidden-sm"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="livre.delete({id:livre.id})"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm"></span>
                                </button>
                            </div>

    -->


</div>

