
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReservationLabel">Créer ou modifiér une reservation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.reservation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.reservation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateDemande">Date Demande</label>
                    <input id="field_dateDemande" type="text" class="form-control" name="dateDemande" ng-model="vm.reservation.dateDemande" ng-readonly="true"/>
        </div>

        <div class="form-group">
            <label for="field_usager">Usager</label>
            <select class="form-control" id="field_usager" name="usager" ng-model="vm.reservation.usagerId" ng-options="usager.id as usager.prenom+' '+usager.nom for usager in vm.usagers" >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_oeuvre">Oeuvre</label>
            <input class="form-control" name="oeuvre" id="field_oeuvre" ng-readonly="true" ng-model="vm.reservation.oeuvreId" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
