
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmpruntLabel">Create or edit a Emprunt</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.emprunt.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.emprunt.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_debut">Debut</label>
                <div class="input-group">
                    <input id="field_debut" type="text" class="form-control" name="debut" datetime-picker="{{dateformat}}" ng-model="vm.emprunt.debut" is-open="vm.datePickerOpenStatus.debut"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('debut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_duree">Duree</label>
            <input type="number" class="form-control" name="duree" id="field_duree"
                    ng-model="vm.emprunt.duree"
                     />
        </div>

        <div class="form-group">
            <label for="field_usager">Usager</label>
            <select class="form-control" id="field_usager" name="usager" ng-model="vm.emprunt.usagerId" ng-options="usager.id as usager.id for usager in vm.usagers"            >
                <option value=""></option>
            </select>
            <a ui-sref="usager.new" target="_blank">Si l'usager n'existe pas, veuillez cliquez ici pour ajouter.</a>
        </div>


        <div class="form-group">
            <label for="field_exemplaire">Exemplaire</label>
            <select class="form-control" id="field_exemplaire" name="exemplaire" ng-model="vm.emprunt.exemplaireId" ng-options="exemplaire.id as exemplaire.id for exemplaire in vm.exemplaires"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
